<!DOCTYPE html>
<html ng-app="AtomicwareApp">
<head>

<!-- /.website title -->
<title>AtomicWare | Expertos en Node.js, Desarrollo de Software, Consultoría & Headhunting</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="description" content="AtomicWare. Expertos en Node.js, NoSQL, Desarrollo de Software, Consultoría & Headhunting. Desarrollo en Node, Mongo, Express, Andoroid, Ios, Ionic Framework, cassandra, RabbitMQ, Java, Spring, EJB, .NET, C#, Sails, Redis y más...">
<meta name="keywords" content="HTML,CSS,XML,JavaScript,phonegap,node js tutorial,Node, Node js,Node Mexico,Expertos node,recursos node,node senior,node sr,node jr,node junior,contrata node,programador node,programadores node,mongo,MongoDB,Mongo DB, Express,Andoroid,Desarrollo Android,apps Android,Apps ios, Ios,Ionic Framework,cassandra,RabbitMQ,Java,Spring,EJB,.NET,C#,Sails,Redis">

<!-- CSS Files -->
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
<link href="css/animate.css" rel="stylesheet" media="screen">
<link href="css/owl.theme.css" rel="stylesheet">
<link href="css/owl.carousel.css" rel="stylesheet">

<!-- Colors -->
<link href="css/css-index.css" rel="stylesheet" media="screen"> 
<!-- <link href="css/css-index-green.css" rel="stylesheet" media="screen"> -->
<!-- <link href="css/css-index-purple.css" rel="stylesheet" media="screen"> -->
<!-- <link href="css/css-index-red.css" rel="stylesheet" media="screen"> -->
<!-- <link href="css/css-index-orange.css" rel="stylesheet" media="screen"> -->
<!-- <link href="css/css-index-yellow.css" rel="stylesheet" media="screen"> -->

<!-- Google Fonts -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" />
 
</head>
  
<body data-spy="scroll" data-target="#navbar-scroll">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76367558-1', 'auto');
  ga('send', 'pageview');

</script>

<!-- /.preloader -->
<div id="preloader"></div>
<div id="top"></div>

<!-- /.parallax full screen background image -->
<div class="fullscreen landing parallax" style="background-image:url('images/explosion.jpg');" data-img-width="2000" data-img-height="1333" data-diff="100">
	
	<div class="overlay">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
				
					<!-- /.logo -->
					<div class="logo wow fadeInDown"> <a href=""><img src="images/logo.png" alt="logo"></a></div>

					<!-- /.main title -->
						<h1 class="wow fadeInLeft">
						Expertos en desarrollo de software
						</h1>

					<!-- /.header paragraph -->
					<div class="landing-text wow fadeInUp">
						<p>Somos una empresa 100% Méxicana, pioneros y expertos en desarrollo con tecnología Node.js & NoSQL(MongoDB, Cassandra, PouchDB) entre otras utilizadas en Silicon Valley. Trabajamos con los más altos estándares de calidad, metodologías ágiles.</p>
					</div>				  

					<!-- /.header button -->
					<div class="head-btn wow fadeInLeft">
						<a href="#intro" class="btn-primary">Más</a>
					</div>
	
		  

				</div> 
				
				<!-- /.signup form -->
				<div class="col-md-5">
				
					<div class="signup-header wow fadeInUp" style="display:none">
						<h3 class="form-title text-center">HAZ IGNICIÓN</h3>
						<form class="form-header" action="http://atomicware.mx:1337/contacto" role="form" method="POST" id="#">
						<input type="hidden" name="u" value="503bdae81fde8612ff4944435">
						<input type="hidden" name="id" value="bfdba52708">
							<div class="form-group">
								<input class="form-control input-lg" name="MERGE1" id="name" type="text" placeholder="Su nombre" required>
							</div>
							<div class="form-group">
								<input class="form-control input-lg" name="MERGE0" id="email" type="email" placeholder="Email" required>
							</div>
							<div class="form-group last">
								<input type="submit" class="btn btn-warning btn-block btn-lg" value="CONTÁCTEME">
							</div>
							<p class="privacy text-center">Nunca compartiremos su email con nadie. Read our <a href="privacy.html">privacy policy</a>.</p>
						</form>
					</div>				
				
				</div>
			</div>
		</div> 
	</div> 
</div>
 
<!-- NAVIGATION -->
<div id="menu">
	<nav class="navbar-wrapper navbar-default" role="navigation">
		<div class="container">
			  <div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-backyard">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand site-name" href="#top"><img src="images/logo3.png" alt="logo"></a>
			  </div>
	 
			  <div id="navbar-scroll" class="collapse navbar-collapse navbar-backyard navbar-right">
				<ul class="nav navbar-nav">
					<li><a href="#intro">¿Que hacemos?</a></li>
					<li><a href="#feature">¿Cómo lo hacemos?</a></li>
					<!--li><a href="#download">Download</a></li-->
					<!--li><a href="#package">Pricing</a></li-->
					<li><a href="#testi">Testimonios</a></li>
					<li><a href="#contact">Contacto</a></li>
				</ul>
			  </div>
		</div>
	</nav>
</div>

<!-- /.intro section -->
<div id="intro">
	<div class="container">
		<div class="row">

		<!-- /.intro image -->
			<div class="col-md-6 intro-pic wow slideInLeft">
				<img src="images/ipad.png" alt="image" class="img-responsive">
			</div>	
			
			<!-- /.intro content -->
			<div class="col-md-6 wow slideInRight">
				<h2>Desarrolle nuevos servicios ú optimice sus aplicaciones existentes con tecnología de Sillicon Valley</h2>
				<p>Ayúdamos a hacer realidad sus ideas a través del mundo digital. <a href="#">Servicios innovadores</a>  generan un ambiente de comunicación y cercanía con sus clientes. Nuestro equipo no cree en lo imposible, hacemos nuestro trabajo con responsabilidad, entusiasmo y siempre pensando en lo mejor para nuestros clientes.
				</p>

					<div class="btn-section"><a href="#feature" class="btn-default">Conozca Más</a></div>
		
			</div>
		</div>			  
	</div>
</div>

<!-- /.feature section -->
<div id="feature">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 col-sm-12 text-center feature-title">

			<!-- /.feature title -->
				<h2>Haga realidad sus ideas</h2>
				<p>Incremente la lealtad de sus clientes manteniendo una comunicación dos vías e incrementando su comunidad en linea.</p>
			</div>
		</div>
		<div class="row row-feat">
			<div class="col-md-4 text-center">
			
			<!-- /.feature image -->
				<div class="feature-img">
					<img src="images/iphone-half.png" alt="image" class="img-responsive wow fadeInLeft">
				</div>
			</div>
		
			<div class="col-md-8">
			
				<!-- /.feature 1 -->
				<div class="col-sm-6 feat-list">
					<i class="pe-7s-notebook pe-5x pe-va wow fadeInUp"></i>
					<div class="inner">
						<h4>Marketing Strategy</h4>
						<p>Promocione sus apps dentro de las redes sociales mas usadas y gane nuevos prospectos.
						</p>
					</div>
				</div>
			
				<!-- /.feature 2 -->
				<div class="col-sm-6 feat-list">
					<i class="pe-7s-cash pe-5x pe-va wow fadeInUp" data-wow-delay="0.2s"></i>
					<div class="inner">
						<h4>App Monetization</h4>
						<p>Cree suscripciones, planes y realice cobros recurrentes desde sus Apps</p>
						<br>
					</div>
				</div>
			
				<!-- /.feature 3 -->
				<div class="col-sm-6 feat-list">
					<i class="pe-7s-cart pe-5x pe-va wow fadeInUp" data-wow-delay="0.4s"></i>
					<div class="inner">
						<h4>Tienda InApp</h4>
						<p>Cree su propia aplicación de tienda, promocione y venda sus productos en línea aceptando tarjeta y de débito, crédito y meses sin intereses.</p>
					</div>
				</div>
			
				<!-- /.feature 4 -->
				<div class="col-sm-6 feat-list">
					<i class="pe-7s-users pe-5x pe-va wow fadeInUp" data-wow-delay="0.6s"></i>
					<div class="inner">
						<h4>User Management</h4>
						<p>Administre sus usuarios, cree roles y asigne permisos de administración</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- /.feature 2 section -->
<div id="feature-2">
	<div class="container">
		<div class="row">
	
			<!-- /.feature content -->
			<div class="col-md-6 wow fadeInLeft">
				<h2>Learn how to make your app marketing efficient</h2>
				<p>Good marketing makes the company look smart. <span class="highlight">Great marketing</span> makes the customer feel smart, - Joe Chernov. Never doubt a small group of thoughtful, committed people can change the world. Indeed, it is the only thing that ever has, - Margaret Mead. The best way to predict the future is to create it, - Peter Drucker.
				</p>

					<div class="btn-section"><a href="#download" class="btn-default">Download Now</a></div>
		
			</div>
			  
			<!-- /.feature image -->
			<div class="col-md-6 feature-2-pic wow fadeInRight">
				<img src="images/macbook.png" alt="macbook" class="img-responsive">
			</div>				  
		</div>			  
  
	</div>
</div>


<!-- /.download section -->
<div id="download">
	<div class="action fullscreen parallax" style="background-image:url('images/macbook-back.jpg');" data-img-width="2000" data-img-height="1333" data-diff="100">
		<div class="overlay">
			<div class="container">
				<div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
				
					<!-- /.download title -->
					<h2 class="wow fadeInRight">Te interesa saber más?</h2>
					<p class="download-text wow fadeInLeft">Le ayudaremos a materializar sus ideas. A través de nuestros procesos ágiles iremos de la mano, identificaremos sus necesidades y crearemos juntos el software que necesita.</p>
					
					<!-- /.download button -->
						<div class="download-cta wow fadeInLeft">
							<a href="#contact" class="btn-secondary">Contacto</a>
						</div>
				</div>	
			</div>	
		</div>
	</div>
</div>

<!-- /.pricing section -->
<div id="package" style="display:none">
	<div class="container">
		<div class="text-center">
		
			<!-- /.pricing title -->
			<h2 class="wow fadeInLeft">PACKAGES</h2>
			<div class="title-line wow fadeInRight"></div>
		</div>
		<div class="row package-option">

			<!-- /.package 1 -->
			<div class="col-sm-3">
			  <div class="price-box wow fadeInUp">
			   <div class="price-heading text-center">
			   
			   <!-- /.package icon -->
					<i class="pe-7s-radio pe-5x"></i>
					
					<!-- /.package name -->
					<h3>Basic</h3>
			   </div>
			   
			   <!-- /.price -->
				<div class="price-group text-center">
					<span class="dollar">$</span>
					<span class="price">9</span>
					<span class="time">/mo</span>
				</div>
			
				<!-- /.package features -->
			   <ul class="price-feature text-center">
				  <li><strong>100MB</strong> Disk Space</li>
				  <li><strong>200MB</strong> Bandwidth</li>
				  <li><strong>2</strong> Subdomains</li>
				  <li><strong>5</strong> Email Accounts</li>
				  <li><strike>Webmail Support</strike></li>				  
			   </ul>
			   
			   <!-- /.package button -->
			   <div class="price-footer text-center">
				 <a class="btn btn-price" href="#">BUY NOW</a>
				</div>	
			  </div>
			</div>
			
			<!-- /.package 2 -->
			<div class="col-sm-3">
			  <div class="price-box wow fadeInUp" data-wow-delay="0.2s">
			   <div class="price-heading text-center">

			   <!-- /.package icon -->
				<i class="pe-7s-joy pe-5x"></i>

			   <!-- /.package name -->
				<h3>Standard</h3>
			   </div>
			   
			   <!-- /.price -->
				<div class="price-group text-center">
					<span class="dollar">$</span>
					<span class="price">19</span>
					<span class="time">/mo</span>
				</div>
			
				<!-- /.package features -->
			   <ul class="price-feature text-center">
				  <li><strong>300MB</strong> Disk Space</li>
				  <li><strong>400MB</strong> Bandwidth</li>
				  <li><strong>5</strong> Subdomains</li>
				  <li><strong>10</strong> Email Accounts</li>
				  <li><strike>Webmail Support</strike></li>			  
			   </ul>

				<!-- /.package button -->
			   <div class="price-footer text-center">
				 <a class="btn btn-price" href="#">BUY NOW</a>
				</div>
			  </div>
			</div>	
			
			<!-- /.package 3 -->
			<div class="col-sm-3">
			  <div class="price-box wow fadeInUp" data-wow-delay="0.4s">
			   <div class="price-heading text-center">
			   
					<!-- /.package icon -->
					<i class="pe-7s-science pe-5x"></i>
				
					<!-- /.package name -->
					<h3>Advance</h3>
			   </div>
			   
			   <!-- /.price -->
				<div class="price-group text-center">
					<span class="dollar">$</span>
					<span class="price">29</span>
					<span class="time">/mo</span>
				</div>
			
				<!-- /.package features -->
			   <ul class="price-feature text-center">
				  <li><strong>1GB</strong> Disk Space</li>
				  <li><strong>1GB</strong> Bandwidth</li>
				  <li><strong>10</strong> Subdomains</li>
				  <li><strong>25</strong> Email Accounts</li>
				  <li>Webmail Support</li>					  
			   </ul>
			   
			   <!-- /.package button -->
			   <div class="price-footer text-center">
				 <a class="btn btn-price" href="#">BUY NOW</a>
				</div>	
			  </div>
			</div>
			
			<!-- /.package 4 -->
			<div class="col-sm-3">
			  <div class="price-box wow fadeInUp" data-wow-delay="0.6s">
			   <div class="price-heading text-center">
			   
					<!-- /.package icon -->
					<i class="pe-7s-tools pe-5x"></i>
					
					<!-- /.package name -->
					<h3>Ultimate</h3>
			   </div>
			   
			   <!-- /.price -->
				<div class="price-group text-center">
					<span class="dollar">$</span>
					<span class="price">49</span>
					<span class="time">/mo</span>
				</div>
			
				<!-- /.package features -->
			   <ul class="price-feature text-center">
				  <li><strong>5GB</strong> Disk Space</li>
				  <li><strong>5GB</strong> Bandwidth</li>
				  <li><strong>50</strong> Subdomains</li>
				  <li><strong>50</strong> Email Accounts</li>
				  <li>Webmail Support</li>			  
			   </ul>
			   
			   <!-- /.package button -->
			   <div class="price-footer text-center">
				 <a class="btn btn-price" href="#">BUY NOW</a>
				</div>
			  </div>
			</div>

		</div>
	</div>
</div>

<!-- /.client section -->
<div id="client"> 
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<img alt="client" src="images/nodejs.png" class="wow fadeInUp" title="Node.js" title="Node.js">
					<img alt="client" src="images/angular.png" class="wow fadeInUp" data-wow-delay="0.2s" title="Angular" title="Angular">
					<img alt="client" src="images/android.png" class="wow fadeInUp" data-wow-delay="0.4s">
					<img alt="client" src="images/microsoft.png" class="wow fadeInUp" data-wow-delay="0.6s">
					<img alt="client" src="images/apple.png" class="wow fadeInUp" data-wow-delay="0.8s">
				</div>
			</div>
		</div>	
</div>

<!-- /.testimonial section -->
<div id="testi">
	<div class="container">
		<div class="text-center">
			<h2 class="wow fadeInLeft">TESTIMONIALS</h2>
			<div class="title-line wow fadeInRight"></div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">	
			   <div id="owl-testi" class="owl-carousel owl-theme wow fadeInUp">
				 
					<!-- /.testimonial 1 -->
					<div class="testi-item">
						<div class="client-pic text-center">
						
							<!-- /.client photo -->
							<img src="images/pasquinel.png" alt="client">
						</div>
						<div class="box">
						
							<!-- /.testimonial content -->
							<p class="message text-center">"Estamos muy impresionados de la calidad y la rapidez con la que AtomicWare ejecutó la iniciativa de participación ciudadana, es un proyecto que sin duda generará mucha espectativa en la próxima legislatura."</p>
						</div>
						<div class="client-info text-center">
						
						<!-- /.client name -->
							Emilio Pasquinel, <span class="company">Asamblea Legislativa</span>	
						</div>
					</div>		
					
					<!-- /.testimonial 2 -->
					<div class="testi-item">
						<div class="client-pic text-center">

							<!-- /.client photo -->
							<img src="images/alfonso.jpg" alt="client">
						</div>
						<div class="box">

							<!-- /.testimonial content -->
							<p class="message text-center">"Nos agradó mucho el profesionalismo con el que se ejecutó el proyecto de validación de factura electrónica, la agilidad del proyecto permitió que nuestros requerimentos cuadraran al 100%."</p>
						</div>
						<div class="client-info text-center">

							<!-- /.client name -->
							Alfonso Gutierrez, <span class="company">CEO Grupo Intecsa</span>	
						</div>
					</div>				
					
					<!-- /.testimonial 3 -->
					<div class="testi-item">
						<div class="client-pic text-center">

							<!-- /.client photo -->
							<img src="images/arturo.jpg" alt="client">
						</div>
						<div class="box">

							<!-- /.testimonial content -->
							<p class="message text-center">"El prototipo solicitado de la aplicación hospital fue desarrollado en un tiempo increíble, no sabiamos al principio realmente lo que necesitabamos pero gracias a los prototipos que se nos presentaron pudimos definir la funcionalidad final de la aplicación."</p>
						</div>
						<div class="client-info text-center">

							<!-- /.client name -->
							Arturo Rocha, <span class="company">CEO ScirePM</span>	
						</div>
					</div>			
				 
				</div>
			</div>	
		</div>	
	</div>
</div>

<!-- /.contact section -->
<div id="contact">
	<div class="contact fullscreen parallax" style="background-image:url('images/bomb2.jpg');" data-img-width="2000" data-img-height="1334" data-diff="100">
		<div class="overlay">
			<div class="container">
				<div class="row contact-row">
				
					<!-- /.address and contact -->
					<div class="col-sm-5 contact-left wow fadeInUp">
						<h2><span class="highlight">Entra</span> en contacto</h2>
							<ul class="ul-address">
							<li><i class="pe-7s-map-marker"></i>Vertiz 558. Narvarte Mexico D.F.
							</li>
							<li><i class="pe-7s-phone"></i>55 54 40 39 60</br>
							044 55 33 35 99 15 
							</li>
							<li><i class="pe-7s-mail"></i><a href="mailto:contacto@atomicware.mx">contacto@atomicware.mx</a></li>
							<li><i class="pe-7s-look"></i><a href="#">www.atomicware.mx</a></li>
							</ul>	
								
					</div>
					
					<!-- /.contact form -->
					<div class="col-sm-7 contact-right" ng-controller="ContactoCtrl">
						<form method="POST" id="contact-form" class="form-horizontal"   ng-submit="enviar()">
							<div class="form-group">
							<input type="text" ng-model="contacto.nombre" name="Name" id="Name" class="form-control wow fadeInUp" placeholder="Name" required/>
							</div>
							<div class="form-group">
							<input type="text" ng-model="contacto.email" name="Email" id="Email" class="form-control wow fadeInUp" placeholder="Email" required/>
							</div>					
							<div class="form-group">
							<textarea name="Message" ng-model="contacto.mensaje" rows="20" cols="20" id="Message" class="form-control input-message wow fadeInUp"  placeholder="Message" required></textarea>
							</div>
							<div class="form-group">
							<input type="submit" name="submit" value="Enviar" class="btn btn-success wow fadeInUp" />
							</div>
						</form>		
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
  
<!-- /.footer -->
<footer id="footer">
	<div class="container">
		<div class="col-sm-4 col-sm-offset-4">
			<!-- /.social links -->
				<div class="social text-center">
					<ul>
						<li><a class="wow fadeInUp" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
						<li><a class="wow fadeInUp" href="https://www.facebook.com/" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
						<li><a class="wow fadeInUp" href="https://plus.google.com/" data-wow-delay="0.4s"><i class="fa fa-google-plus"></i></a></li>
						<li><a class="wow fadeInUp" href="https://instagram.com/" data-wow-delay="0.6s"><i class="fa fa-instagram"></i></a></li>
					</ul>
				</div>	
			<div class="text-center wow fadeInUp" style="font-size: 14px;">Copyright Atomicware 2016 </div>
			<a href="#" class="scrollToTop"><i class="pe-7s-up-arrow pe-va"></i></a>
		</div>	
	</div>	
</footer>
	
	<!-- /.javascript files -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/jquery.sticky.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script>
		new WOW().init();
	</script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="js/atomicware.js"></script>
  </body>
</html>